*{
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    height: 40px;
    background-color:#5e068a ;
}
h1{
    font-size: 4rem !important;
    /* color: white;   */
    text-align: justify;

   
}
p{
text-align: justify;

}
.up{
    margin-bottom: 7rem;
}
.bt{
   background-color: #5e068a !important;
   color: white !important;
   margin-left: 0px;
   height: 43px;
   width: 117px;
    
}
.btn1{
    color: white !important;
background-color: #5e068a !important;
  margin-right: 64rem;
  /* padding: 0rem 3rem; */
  width:150px ;
  height: 53px;
  border-radius: 4rem ;
  font-weight: 700;
}
.top{
    color: white;
    display: flex;
    justify-content: space-around;
   align-items: center;
}
.top p{
   margin-bottom: 0;
}
.all h1{
    color: #5e068a;
    font-size: 2rem !important;
}
.all h5{
    color:#5e068a ;
    font-weight: 300;
}
.all button{
   border-radius: 2rem;
   border: none;
    color: white;
    background-color: #5e068a;
    height: 3rem;
    width: 25%;
}
 .courses{
    color: #5e068a;
    height: 50px;
    width: 50%;
    display: flex;
   
   
    margin-left: 35rem;
    font-size: x-large !important;
}
span{
    color: #9e6ab9;
    font-weight: 100;
     margin-left: 1rem;
}

.first:hover{
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75)!important ;
   
}
.course{
    width: 100%;
    height: 300px;
}
/* .course{
    width: 100%;

} */
.course img{
    width:100%;
 
}
.card h5{
    color: #5e068a;
}
.card:hover{
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75)!important ;
    
}
.this button{
    padding: 16px 27px;
    font-weight: 600;
    margin-top: 21px;
    margin-left: 36rem;
    border-radius: 50px;
    border: 2px solid #5e068a;
    color: #5e068a;
}

.this button:hover{
  color: white !important ;
  background-color: #5e068a !important;
}
 .col-4 a{
    background-color: #5e068a !important;
    border:1px solid #5e068a;
}