*{
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    height: 40px;
    background-color:#5e068a ;
}
h1{
    font-size: 4rem !important;
    /* color: white;   */
    text-align: justify;

   
}
p{
text-align: justify;

}
.up{
    margin-bottom: 7rem;
}
.bt{
   background-color: #5e068a !important;
   color: white !important;
   margin-left: 0px;
   height: 43px;
   width: 117px;
    
}
.btn1{
    color: white !important;
background-color: #5e068a !important;
  margin-right: 64rem;
  padding: 1rem 2rem;
  border-radius: 3rem ;
  font-weight: 700;
}
.top{
    color: white;
    display: flex;
    justify-content: space-around;
   align-items: center;
}
.top p{
   margin-bottom: 0;
}
.all h1{
    color: #5e068a;
    font-size: 2rem !important;
}
.all h5{
    color:#5e068a ;
    font-weight: 300;
}
.all button{
   border-radius: 2rem;
   border: none;
    color: white;
    background-color: #5e068a;
    height: 3rem;
    width: 25%;
}
